<ion-view view-title="Categories">
  <ion-content>    

	<ion-refresher
		pulling-text="Pull to refresh..."
		spinner="spiral" 
		on-refresh="doRefresh()">
	</ion-refresher>

  	<div class="categories">

		<ion-list>
			<ion-item href="#/app/category/id/{{item.id}}" class="item-icon-right" ng-repeat="item in categories">
				{{item.title}}
				<i class="icon ion-ios-arrow-forward"></i>
			</ion-item>
		</ion-list>

	</div>

	<div class="loading-box" ng-show="isFetching">
		<ion-spinner icon="spiral"></ion-spinner>
	</div>


  </ion-content>
</ion-view>
