<ion-view view-title="Forms">

	<ion-content>    

		<!-- forms -->
		<div class="list card">
			<label class="item item-input">
				<span class="input-label">Username</span>
				
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password">
			</label>
		</div>
		<div class="padding"> 
			<button class="button button-block button-positive">Log in</button>
		</div>

		<!-- toggles  -->
		<ul class="list">

			<li class="item item-toggle">
				HTML5
				<label class="toggle toggle-assertive">
					<input type="checkbox" checked>
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				Javascript
				<label class="toggle toggle-positive">
					<input type="checkbox" checked>
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				CSS3
				<label class="toggle toggle-balanced">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

		</ul>

		<!-- checkbox -->
		<ul class="list">

			<li class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Peter Parker
			</li>

			<li class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox" checked>
				</label>
				Clark Kent
			</li>

			<li class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox" checked>
				</label>
				Tony Stark
			</li>

		</ul>

		<!-- radio -->
		<div class="list">

			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">PHP</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group" checked>
				<div class="item-content">JavaScript</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">Ruby</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		
		</div>

		<!-- range -->
		<div class="item range">
			<i class="icon ion-volume-low"></i>
			<input type="range" name="volume">
			<i class="icon ion-volume-high"></i>
		</div>

		<div class="list">
			<div class="item range range-positive">
				<i class="icon ion-ios-sunny-outline"></i>
				<input type="range" name="volume" min="0" max="100" value="33">
				<i class="icon ion-ios-sunny"></i>
			</div>
		</div>

		<div class="list">

			<label class="item item-input item-select">
				<div class="input-label">
				Lightsaber
				</div>
				<select>
					<option>Blue</option>
					<option selected>Green</option>
					<option>Red</option>
				</select>
			</label>

			<label class="item item-input item-select">
				<div class="input-label">
				Droid
				</div>
				<select>
					<option>2-1B</option>
					<option>B1</option>
					<option>C-3PO</option>
					<option>IG-88</option>
					<option>IT-O</option>
					<option selected="">R2-D2</option>
				</select>
			</label>

			<label class="item item-input item-select">
				<div class="input-label">
				Planet
				</div>
				<select>
					<option selected="">Alderaan</option>
					<option >Dagobah</option>
					<option>Felucia</option>
					<option>Geonosis </option>
					<option>Hoth</option>
					<option>Kamino</option>
					<option>Mygeeto</option>
					<option>Naboo</option>
					<option>Tataouine</option>
					<option>Utapau</option>
					<option>Yavin</option>
				</select>
			</label>

		</div>

	</ion-content>

</ion-view>
