<ion-view class="walkthrough-bg" hide-nav-bar="true">
 	
	<ion-slide-box class="walkthrough-slider" on-slide-changed="slideHasChanged($index)">
		<ion-slide>
			<div class="walkthrough-item">
				<i class="icon ion-ionic"></i>
				<h2>Demo application</h2>
				<p>Fonctionnalité Minimale</p>
				<img src="img/intro-1.png" class="device">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="walkthrough-item">
				<i class="icon ion-code"></i>
				<h2>Demo application</h2>
				<p>Chroniques et autres publications</p>
				<img src="img/intro-2.png" class="device">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="walkthrough-item">
				<i class="icon ion-upload"></i>
				<h4>Accès protégé</h4>
				<div class="padding">
					<button class="button button-block button-balanced" ng-click="goHome()">
						<strong>Inscription obligatoire!</strong>
					</button>
				</div>
				<img src="img/intro-3.png" class="device">
			</div>
		</ion-slide>
	</ion-slide-box>

</ion-view>
